body{
    font-family: 'Poppins', sans-serif;
}

.plan{
    background-image: url(images/plan-bkg.png);
    width: 100%;
}
.exhibit{
    background-image: url(images/exhibit-bkg.png);
    width: 100%;
}
.attend{
    background-image: url(images/attend-bkg.png);
    width: 100%;
}
.h-line::after{
    content: '';
    border-bottom: 3px solid #ffffff;
    width: 70px;
    display: block;
    margin: 0 auto;
}

footer{
    background-color: black;
}
@media only screen and (min-width: 764px) {
    .card-3{
        transform: scale(1.1);
    }
  }
